pipeline/pipeline_cvs2sql.json
{
	"name": "pipeline_cvs2sql",
	"properties": {
		"description": "Tis pipeline will copy data from csv files and insert it into respective azure table.",
		"activities": [
			{
				"name": "Lookup Get Table list",
				"description": "This Activity will fetch all the table name which needs to be copied to azure SQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from ADFTableList where IsActive=1\nand SourceSystemName='ADLS' and DestSystemName='AzureSQLArchivalDB' \nand DestTableName not in ('INSTALLATION_COMMENTS')\nand DestTableName='INSTALLATION_IDENTS'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_lookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach EASE table",
				"description": "Iterator",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Get Table list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Get Table list').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data csv to azure  sql db",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"validateDataConsistency": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "ls_adls_source",
											"type": "LinkedServiceReference"
										}
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls_source",
									"type": "DatasetReference",
									"parameters": {
										"ADLSContainerName": {
											"value": "@item().SourceADLSFolderName",
											"type": "Expression"
										},
										"ADLSFileName": {
											"value": "@item().SourceADLSFileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql_dest",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().DestTableName",
											"type": "Expression"
										},
										"schema": {
											"value": "@item().DestDBSchema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Lookup sql check sum builder",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy data csv to azure  sql db",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT CHECKSUM_AGG(CHECKSUM(*)) \nFROM',item().DestTableName\")",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql_dest",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().DestTableName",
											"type": "Expression"
										},
										"schema": {
											"value": "@item().DestDBSchema",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-04-06T06:20:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}