pipeline/pipeline_cvs2sql.json
{
	"name": "pipeline_cvs2sql",
	"properties": {
		"description": "Tis pipeline will copy data from csv files and insert it into respective azure table.",
		"activities": [
			{
				"name": "Lookup Get Table list",
				"description": "This Activity will fetch all the table name which needs to be copied to azure SQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from ADFTableList where IsActive=1\nand SourceSystemName='ADLS' and DestSystemName='AzureSQLArchivalDB' \nand DestTableName not in ('INSTALLATION_COMMENTS','MKT_ANALYSIS_BY_REASON')\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_lookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach EASE table",
				"description": "Iterator",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Get Table list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Get Table list').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data csv to azure  sql db",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"validateDataConsistency": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "ls_adls_source",
											"type": "LinkedServiceReference"
										}
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls_source",
									"type": "DatasetReference",
									"parameters": {
										"ADLSContainerName": {
											"value": "@item().SourceADLSFolderName",
											"type": "Expression"
										},
										"ADLSFileName": {
											"value": "@item().SourceADLSFileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql_dest",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().DestTableName",
											"type": "Expression"
										},
										"schema": {
											"value": "@item().DestDBSchema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored procedure on copy success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy pipeline logs success",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_sql2adls_data_files_loaded_Success]"
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_dest",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Stored procedure on copy faliure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy pipeline logs Fail",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_sql2adls_data_files_loaded_Fail]"
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_dest",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy pipeline logs success",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data csv to azure  sql db",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT '@{pipeline().DataFactory}' as DataFactory_Name,\n'@{pipeline().Pipeline}' as Pipeline_Name,\n'@{pipeline().RunId}' as RunId,\n'ADLS' as Source,\n'Azure SQL' as Destination,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('Copy data csv to azure  sql db').output.rowsCopied}' as rowsCopied,\n'@{activity('Copy data csv to azure  sql db').output.rowsRead}' as RowsRead,\n'@{activity('Copy data csv to azure  sql db').output.usedParallelCopies}' as No_ParallelCopies,\n'@{activity('Copy data csv to azure  sql db').output.copyDuration}' as copyDuration_in_secs,\n'@{activity('Copy data csv to azure  sql db').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('Copy data csv to azure  sql db').output.executionDetails[0].source.type}' as Source_Type,\n'@{activity('Copy data csv to azure  sql db').output.executionDetails[0].sink.type}' as Sink_Type,\n'@{activity('Copy data csv to azure  sql db').output.executionDetails[0].status}' as Execution_Status,\n'@{activity('Copy data csv to azure  sql db').output.executionDetails[0].start}' as CopyActivity_Start_Time,\n'@{utcnow()}' as CopyActivity_End_Time",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql_logs_dest",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql_logs_dest_table",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy pipeline logs Fail",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data csv to azure  sql db",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT '@{pipeline().DataFactory}' as DataFactory_Name,\n'@{pipeline().Pipeline}' as Pipeline_Name,\n'@{pipeline().RunId}' as RunId,\n'ADLS' as Source,\n'Azure SQL' as Destination,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('Copy data csv to azure  sql db').output.rowsCopied}' as rowsCopied,\n'@{activity('Copy data csv to azure  sql db').output.rowsRead}' as RowsRead,\n'@{activity('Copy data csv to azure  sql db').output.usedParallelCopies}' as No_ParallelCopies,\n'@{activity('Copy data csv to azure  sql db').output.copyDuration}' as copyDuration_in_secs,\n'@{activity('Copy data csv to azure  sql db').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('Copy data csv to azure  sql db').output.executionDetails[0].source.type}' as Source_Type,\n'@{activity('Copy data csv to azure  sql db').output.executionDetails[0].sink.type}' as Sink_Type,\n'@{activity('Copy data csv to azure  sql db').output.executionDetails[0].status}' as Execution_Status,\n'@{activity('Copy data csv to azure  sql db').output.executionDetails[0].start}' as CopyActivity_Start_Time,\n'@{utcnow()}' as CopyActivity_End_Time",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql_logs_dest",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql_logs_dest_table",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-04-06T06:20:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}